body {
  padding: 0;
  margin: 0;
}

#footer{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: black;
    height: 70px;
    bottom: 0;
}

#header {
  background: black;
  color: white;
  font-size: 30px;
  height: 70px;
  width: 100%;
  display: flex;
}
  
#footer p, #header p{
    margin:auto;
    font-size: 16pt;
    color:white;
}

html {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#error {
  width: 100%;
  position: absolute;
  top: 92%;
  margin-top: -100px;
}

#msgError {
  color:red;
  text-align: center;
  font-size: 16pt;
}

form {
  position: absolute;
  top: 33%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;

}

form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  border: 2px dashed black;
}

form p:hover {
  cursor: pointer;
}

#fileIn {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.inputs{
  position: relative;
  margin: 0;
  padding: 0;

}
form button {
  cursor: pointer;
  margin: 0;
  color: #fff;
  background: #1250b3;
  border: none;
  width: 508px;
  height: 50px;
  font-size: 18px;
  margin-top: 5px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #a4b2ce;
  transition: all .2s ease;
  outline: none;
}

form button:hover {
  background: #2779b9;
  color: white;
}

form button:active {
  border: 0;
}

.labels {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  display: block;
}

.inputs {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 12pt;
	margin: 10px 0;
  padding: 10px 0;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: block;
}

.imatges {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
}

img {
  width: 400px;
  height: 400px;
}

.textAbaix {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20pt;
}